body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* Tamaño del contenedor para la barra de navegación */
header{
    width: 100%;
    height: 60px;
}
/*Contenedor de elementos de navegación*/
header nav{
    display: flex;
    justify-content: flex-end;
}

/*alinear lista de forma vertical, quitar bullets y decoration*/
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

nav .nav-right-section a{
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section a:hover{
    text-decoration: underline;
}


/*estilo al icono ce menú en el nav*/
nav .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

/*Dando estilo a la imagen de pefil en el nav*/
nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;

}
