:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-licht-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size: 240px;
}
body{
    font-family: 'Quicksand', sans-serif;
    /*para new password*/
    margin: 0;
}

/*Pagina de create password*/

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.logo{
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    /*para que no aparezca en desktop*/
    display: none;
}

.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    font-size: var(--md);
    font-weight: 300;
    color: var(--very-licht-pink);
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 16px;
    
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    width: 100%;
    cursor: pointer;
    
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
    
}
@media (max-width: 640px){
    .logo{
        display: block;
    }
    .secundary-button{
        width: 100%;
        position: absolute;
        bottom: 0;
        
        margin-bottom: 24px;

    }
    .login-button{
        width: 300px;
        position: absolute;
        bottom: 0;
        
        margin-bottom: 24px;
    }
}
/*Primera clase pantalla nuevo password FIN*/

/*Página de email enviado*/

.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.email-image img{
    width: 80px;
}

.resend{
    font-size: var(--sm);

}

.resend span{
    font-weight: bold;
    color: var(--very-licht-pink);
}
.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}

/*Página de Login*/

.forgot{
    color: var(--hospital-green);
    text-decoration: none;
    text-align: center;
    font-size: var(--sm);
}

.secundary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    width: 300px;
    cursor: pointer;
    margin-top: 30px;
    
}

/*Página de creación de cuenta.*/
.account{
    font-size: var(--lg);
    margin-bottom: 22px;
    justify-self: self-start;
}

/*Página de edición de cuenta*/
.value{
    color: var(--very-licht-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

/*Página principal*/

.main-container{
    place-items: center;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
    margin: 24px 0 24px 0;
    
}

.product-card{
    width: var(--card-size);
    
}

.product{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure{
    margin: 0;
}

.product-info div p:nth-child(1){
    font-weight: bolder;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;

}
.product-info div p:nth-child(2){
    color: var(--very-licht-pink);
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;

}

@media (max-width: 640px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
        
    }
    .product-card{
        width: 140px;
        
    }
    
    .product{
        width: 140px;
        height: 140px;
        
    }
}

/*Menú para desktop*/
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-licht-pink);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--text-input-field);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-decoration: none;
}
.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
}

.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    display: inline-block;
}

/*Mobile menu*/

.mobile-menu{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    padding: 24px;
}

.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
    display: inline-block;
    margin-bottom: 24px;
    
}

.mobile-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
   
}

.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-licht-pink);
    
}
/*.mobile-menu ul:nth-child(2){
    margin-top: 60px;
    
}

.mobile-menu ul:nth-child(3){
    position: absolute;
    bottom: 0;
}*/

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out{
    color: var(--hospital-green);
    font-size: var(--sm);
    
}

/*Pantalla de My order*/
.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    
}

.order-title{
    font-size: var(--lg);
    margin-bottom: 40px;
    text-align: start;
}

.order-content{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
   
}
.order-content{
    display: flex;
    flex-direction: column;
    
}
.order{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 0 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
    
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
    
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2){
    color: var(--very-licht-pink);
    font-size: var(--sm);
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
    
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart figure{
    margin: 0;
}

.shopping-cart p:nth-child(2){
    color: var(--very-licht-pink);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}

/*Pantalla de mis ordenes */

.pedidos{
    display: grid;
    grid-template-columns: auto 1fr auto ;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
    
}
.pedidos p:nth-child(1){
    display: flex;
    flex-direction: column;
    
}
.pedidos p:nth-child(2){
    text-align: end;
    font-weight: bold;
    
}
.pedidos p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.pedidos p span:nth-child(2){
    color: var(--very-licht-pink);
    font-size: var(--sm);
}

/*Barra de navegación*/

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-input-field);
    padding: 0 24px;
    height: 60px;
}
.menu{
    display: none;
    
}
.nav-logo{
    width: 100px;
}
.navbar-left{
    display: flex;
    
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-licht-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    
}
.navbar-left ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    padding: 8px;
    border-radius: 8px;
}

.navbar-email{
    color: var(--very-licht-pink);
    font-size: var(--sm);
} 

.navbar-sc div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: bolder;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: -3px;
    right: -4px;
    display: flex;
    text-align: center;
}
.navbar-sc{
    position: relative;
    margin-left: 24px;
}

@media (max-width: 640px){
    .menu{
        display: block;
        width: 30px;
        
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
}