:root{
    --light-purple: #666CA3;
    --marine-blue: #13183F;
    --grey: #83869a;
    --high-pink:  #F74780;
    --light-pink: #FFA7C3;
    --white: #FFFFFF;
    --pink-gradient: 
    --main-font: "Plus Jakarta Sans", sans-serif;
    --background: -webkit-linear-gradient(180deg, #4851ff,#f02aa6);
    --background2: -webkit-linear-gradient(322deg, #f02aa6,#ff6f48);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--white);
    
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,238,252,1) 50%);
}
.main-section-container{
    width: 100%;
    height: auto;
}

.head-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.head-container button{
    border: none;
    background-color: var(--marine-blue);
    border-radius: 80px;
    color: var(--white);
    width: 140px;
    height: 48px;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

.info-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    justify-content: left;
}
.info-container h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.info-container p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size:  1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--grey);
}
.info-container button{
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 80px;
    padding: 15px;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    background: -webkit-linear-gradient(322deg, #f02aa6,#ff6f48);
}

.main-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.main-img-container img{
    width: 328px;
    height: 300px;
}

.mobile-img{
    display: block;
}
.desktop-img{
    display: none;
}

.card-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-content: center;
}

.title-card{
    display: flex;
    align-items: center;
    width: 310px;
    height: 120px;
    padding: auto;
    margin: 0 auto;
    background: -webkit-linear-gradient(322deg, #f02aa6,#ff6f48);
    border-radius: 12px;
    margin-bottom: 40px;
}
.title-card h2{
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 800;
    text-align: left;
    color: var(--white);
    padding: 0 15px;
}

.product-card{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
    width: 310px;
    height: 280px;
    border-radius: 12px;
    background-color: var(--white);
    margin-bottom: 40px;
}

.product-card svg{
    position: absolute;
    top: -23px;
}

.product-card h1{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 800;
}

.product-card p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--grey);
}

.product-card button{
    border: none;
    background: none;
    justify-self: left;
    width: auto;
    text-align: left;
}

.product-card button a{
    text-decoration: none;
    color: var(--high-pink);
    font-size: 1.8rem;
    font-weight: 800;
}

/*Footer*/

footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--marine-blue);
}

footer div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer div button{
    width: 140px;
    height: 48px;
    border: none;
    border-radius: 80px;
    background: -webkit-linear-gradient(90deg, #4851ff,#f02aa6);
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 600;
}

@media (min-width: 930px){
    .card-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .title-card{
        height: 280px;
    }
    .info-image-section{
        display: flex;
    }
    .main-img-container{
        justify-content: right;
        margin-top: 0;
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
        justify-self: flex-end;
        width: 100%;
        height: 100%;
    }
}