:root{
    --light-purple: #666CA3;
    --marine-blue: #13183F;
    --grey: #83869a;
    --high-pink:  #F74780;
    --light-pink: #FFA7C3;
    --white: #FFFFFF;
    --pink-gradient: 
    --main-font: "Plus Jakarta Sans", sans-serif;
    --background: -webkit-linear-gradient(180deg, #4851ff,#f02aa6);
    --background2: -webkit-linear-gradient(322deg, #f02aa6,#ff6f48);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--white);
    
}
.main-section-container{
    width: 100vw;
    height: auto;
}

.head-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.head-container button{
    border: none;
    background-color: var(--marine-blue);
    border-radius: 80px;
    color: var(--white);
    width: 140px;
    height: 48px;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

.info-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    justify-content: left;
}
.info-container h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.info-container p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size:  1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--grey);
}
.info-container button{
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 80px;
    padding: 15px;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    background: -webkit-linear-gradient(322deg, #f02aa6,#ff6f48);
}

.main-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.main-img-container img{
    width: 328px;
    height: 300px;
}

.card-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-content: center;
}

.title-card{
    display: flex;
    align-items: center;
    width: 310px;
    height: 120px;
    padding: auto;
    margin: 0 auto;
    background: -webkit-linear-gradient(322deg, #f02aa6,#ff6f48);
    border-radius: 12px;
    margin-bottom: 30px;
}
.title-card h2{
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 800;
    text-align: left;
    color: var(--white);
    padding: 0 15px;
}
